<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week05</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2"></script>
    <!-- 載入 bootstrapt -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 載入 vue + axios -->
    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 載入 VeetValidate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.5.8/vee-validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.5.8/dist/vee-validate-rules.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.5.8/dist/vee-validate-i18n.min.js"></script>
    <!-- 載入 VueLoading -->
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6/dist/css/index.css" rel="stylesheet">
    <style>
        .product-img{
            height: 60px;
            width: 60px;
            object-fit: cover;
        }

        .image-in-flex{
            height: 120px;
            width: auto;
        }
    </style>
</head>
<body>
    <!-- 
        html:
        商品列表 V
        購物車統計 V
        表單

        js:
        取得商品們 V
        選取商品 V
        計算選取總和 V
        刪除修改商品
        串接表單
        整理檔案
        Loading V
     -->
    <div id="app">
        <loading v-model:active="isLoading"></loading>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <!-- 放商品 v-show="false" -->
                    <h3>商品列表</h3>
                    <products @reset-cart-data="getCartData"></products>
                </div>
                <div class="col-md-6">
                    <!-- 放表單 -->
                    <h3>購物車內容</h3>
                    <cart-list @reset-cart-data="getCartData" :cart-list="cartList"></cart-list>
                </div>
                <div class="col-md-6">
                    <h3>付款資料</h3>
                    <v-form v-slot="{ errors }" @submit="onSubmit" >
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <v-field
                                id="email"
                                name="email"
                                type="email"
                                class="form-control"
                                :class="{ 'is-invalid': errors['email'] }"
                                placeholder="請輸入 Email" rules="email|required"
                                v-model="user.email"
                                ></v-field>
                                <error-message name="email" class="invalid-feedback"></error-message>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">收件人姓名</label>
                            <v-field
                            id="name"
                            name="姓名"
                            type="text"
                            class="form-control"
                            :class="{ 'is-invalid': errors['姓名'] }"
                            placeholder="請輸入 姓名" rules="required"
                            v-model="user.name"
                            ></v-field>
                            <error-message name="姓名" class="invalid-feedback"></error-message>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">收件人行動電話</label>
                            <v-field
                            id="phone"
                            name="行動電話"
                            type="text"
                            class="form-control"
                            :class="{ 'is-invalid': errors['行動電話'] }"
                            placeholder="請輸入 行動電話" rules="numeric|required|length:10"
                            v-model="user.phone"
                            ></v-field>
                            <error-message name="行動電話" class="invalid-feedback"></error-message>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">收件人地址</label>
                            <v-field
                            id="email"
                            name="地址"
                            type="text"
                            class="form-control"
                            :class="{ 'is-invalid': errors['地址'] }"
                            placeholder="請輸入 地址" rules="required"
                            v-model="user.address"
                            ></v-field>
                            <error-message name="地址" class="invalid-feedback"></error-message>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">留言</label>
                            <textarea id="message" class="form-control" cols="30" rows="5" ></textarea>
                        </div>
                        <button type="submit">submit</button>
                    </v-form>
                </div>
            </div>
        </div>
    </div>
    <script src="./05/all.js" type="module"></script>
</body>
</html>